<div fxLayout="column" fxLayoutAlign="center stretch">
  <div fxLayout="row" fxLayoutAlign="center stretch">
    <h3>{{data.text}}</h3>
  </div>
  <div fxLayout="row" fxLayoutAlign="center stretch">
    <div fxLayout="column" fxLayoutAlign="center stretch">
      <button class="mat-raised-button" style="width: 100%;" (click)="onClick()">Ok</button>
    </div>
  </div>
</div>
