<div fxLayout="column" fxLayoutAlign="center stretch">
  <mat-card>
    <div fxLayout="column" fxLayoutAlign="center center">
      <div>
        <h2 class="card_header">REGISTER</h2>
      </div>
      <img class="bannerImage" src="../../../assets/img/registerBanner.jpg" />
      <div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="5px">
        <mat-form-field appearance="outline">
          <mat-label>Username</mat-label>
          <input
            matInput
            placeholder="Brock o' Barner"
            [(ngModel)]="selectedUserName"
            (ngModelChange)="onValuesChange()"
          />
          <mat-icon svgIcon="face" matSuffix></mat-icon>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>IP-Address</mat-label>
          <input
            matInput
            placeholder="192.168.0.137"
            [(ngModel)]="selectedIpAddress"
            (ngModelChange)="onValuesChange()"
          />
          <mat-icon svgIcon="fingerprint" matSuffix></mat-icon>
        </mat-form-field>
      </div>
      <div fxLayout="row" fxLayoutAlign="center" style="width: 100%">
        <div
          fxLayout="column"
          fxLayoutAlign="center stretch"
          style="width: 70%"
        >
          <button
            mat-raised-button
            (click)="onRegisterClick()"
            class="loginButton"
            [disabled]="disableRegisterButton"
            style="width: 100%"
          >
            Register
          </button>
          <div fxLayout="row" fxLayoutAlign="center" style="width: 100%">
            <small
              >Already registered? <a href="/versus/login">Click here</a></small
            >
          </div>
        </div>
      </div>
      <div></div>
    </div>
  </mat-card>
</div>
