/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: hitman;
  src:
  url(./assets/fonts/Hitman.woff2) format('woff2');
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.bannerImage{
  width: 300px;
}

.loginButton{
  width: 50%;
  background-color: seagreen;
}

.button-hint {
  font-size: 3;
}

.landingButtons {
  height: 200px;
  width: 200px;
}

* {
}

.card_header {
  padding-top: 5px;

}
