<div fxLayout="column" fxLayoutAlign="center stretch">
  <mat-card>
    <div fxLayout="column" fxLayoutAlign="center center">
      <div>
        <h2 class="card_header">LOGIN</h2>
      </div>
      <img class="bannerImage" src="../../../assets/img/loginBanner.jpg" />
      <mat-form-field appearance="outline">
        <mat-label>Username</mat-label>
        <input
          matInput
          placeholder="Brock o' Barner"
          [(ngModel)]="selectedUserName"
          (ngModelChange)="onUserNameChange($event)"
        />
        <mat-icon svgIcon="face" matSuffix></mat-icon>
      </mat-form-field>
      <div fxLayout="row" fxLayoutAlign="center" style="width: 100%">
        <div
          fxLayout="column"
          fxLayoutAlign="center stretch"
          style="width: 70%"
        >
          <button
            mat-raised-button
            (click)="onLoginClick()"
            class="loginButton"
            [disabled]="disableLoginButton"
            style="width: 100%"
          >
            Login
          </button>
          <div
            fxLayout="row"
            fxLayoutAlign="center"
            style="width: 100%"
            class="button-hint"
          >
            <small
              >Not registered? <a href="/versus/register">Click here</a></small
            >
          </div>
        </div>
      </div>
      <div></div>
    </div>
  </mat-card>
</div>
