<div fxLayout="column" fxLayoutAlign="start stretch" fxLayoutGap="10px">
  <mat-card>
    <div fxLayout="column" fxLayoutAlign="start stretch" fxLayoutGap="10px">
      <div style="text-align: center">
        <h2 class="card_header">ARENA</h2>
      </div>
      <mat-menu #abilityMenu="matMenu">
        <button
          *ngFor="let ability of currentUser.currentAbilities"
          mat-menu-item
          class="abilityMenuItem"
          (click)="onAbilitySelectClick(ability.ability.id)"
        >
          <span
            *ngIf="ability.amount > 1"
            [matBadge]="ability.amount"
            matBadgeSize="small"
            matBadgeOverlap="false"
            >{{ ability?.ability.name }}</span
          >
          <span *ngIf="ability.amount === 1">{{ ability?.ability.name }}</span>
        </button>
      </mat-menu>

      <div style="text-align: center">
        <button
          mat-stroked-button
          (click)="onAddAbilityClick()"
          class="addAbilityButton"
        >
          <mat-icon svgIcon="add" matSuffix></mat-icon>
        </button>

        <button *ngIf="!timerPaused"
        mat-stroked-button
        (click)="stopTimer()"
        class="addAbilityButton"
      >
        <mat-icon svgIcon="pause" matSuffix></mat-icon>
      </button>

      <button *ngIf="timerPaused"
        mat-stroked-button
        (click)="startTimer()"
        class="addAbilityButton"
      >
        <mat-icon svgIcon="play" matSuffix></mat-icon>
      </button>
      </div>

      <div style="text-align: center;">
        <mat-progress-bar mode="determinate" [value]="getNextAbilityProgress()"></mat-progress-bar>
      </div>

      <mat-grid-list cols="1" rowHeight="1.1:1" gutterSize="10px">
        <mat-grid-tile *ngFor="let user of otherPlayers"
          ><button
            mat-stroked-button
            class="arenaPlayerSelect"
            [matMenuTriggerFor]="abilityMenu"
            (click)="onPlayerSelectClick(user.name)"
            [disableRipple]="true"
          >
          <span>
            <img width="80%" height="80%" [src]="'../../../assets/img/' + imagePool.getImage(user.faceId)" />
          </span>
            <p>{{ user.name }}</p>
          </button></mat-grid-tile
        >
      </mat-grid-list>

      <div style="text-align: center;">
        <button
          mat-raised-button
          [matMenuTriggerFor]="settingsMenu"
          class="addAbilityButton"
        >
          <mat-icon svgIcon="settings" matSuffix></mat-icon>
        </button>
      </div>

      <mat-menu #faceMenu="matMenu">
        <button *ngFor="let faceId of imagePool.allImages; let i = index"  mat-menu-item (click)="onFaceSelectClick(i)">
          <img width="100%" height="100%" [src]="'../../../assets/img/' + imagePool.getImage(i)" />
        </button>
      </mat-menu>

      <mat-menu #timerThresholdMenu="matMenu">
        <button mat-menu-item (click)="setAbilityTimerThreshold(300)">5 Minutes</button>
        <button mat-menu-item (click)="setAbilityTimerThreshold(600)">10 Minutes</button>
        <button mat-menu-item (click)="setAbilityTimerThreshold(900)">15 Minutes</button>
      </mat-menu>

      <mat-menu #settingsMenu="matMenu">
        <button mat-menu-item [matMenuTriggerFor]="faceMenu">Change Face</button>
        <button mat-menu-item (click)="onLogoutClick()">Logout</button>
        <button mat-menu-item (click)="onDeleteClick()" color="warn">Remove Account</button>
        <button mat-menu-item [matMenuTriggerFor]="timerThresholdMenu">Change Ability Timer</button>
      </mat-menu>
    </div>
  </mat-card>
</div>
