<div
  fxLayout="column"
  fxLayoutAlign="start stretch"
  fxlayoutgap="25px"
  id="top-container"
>
  <div fxLayout="row" fxLayoutAlign="center stretch">
    <h1 id="top-headline">VERSUS SOULS</h1>
  </div>

  <div fxLayout="row" fxLayoutAlign="center stretch" fxlayoutgap="10px">
    <div
      fxLayout="column"
      fxLayoutAlign="center stretch"
      fxlayoutgap="10px"
    >
      <div style="text-align: center" *ngIf="!outletActivated" >
        <div
          fxLayout="column"
          fxLayoutAlign="start center"
          fxLayoutGap="5px"
        >
          <button mat-raised-button (click)="redirectTo('login')" class="landingButtons">Login</button>
          <button mat-raised-button (click)="redirectTo('register')" class="landingButtons">
            Register
          </button>
        </div>
      </div>

      <div fxLayout="row" fxLayoutAlign="center stretch">
        <div id="page-container">
          <router-outlet (activate)="onActivate()"></router-outlet>
        </div>
      </div>
    </div>
  </div>
</div>
