<div fxLayout="column" fxLayoutAlign="space-between stretch" fyLayoutGap="10px" style="height: 100%;">
  <div>
    <h4>New Ability!</h4>
  </div>

  <div fxLayout="row" fxLayoutAlign="center start">
    <h1>{{ data.ability.name }}</h1>
  </div>

  <div>
    <h3>{{ data.ability.description }}</h3>
  </div>

  <div fxLayout="row" fxLayoutAlign="center stretch">
    <button class="mat-raised-button" style="width: 100%" (click)="onClick()">
      Lets go!
    </button>
  </div>
</div>
